body{
    width: 100%;
    background-image: url("pattern-background-desktop.svg");
    height: 100%;
    margin-left: 35%;
    
}

.main-box{
    border: 1px ;
    width: 30%;
    overflow: hidden;
    border-radius: 15px;
    height: 100%;
    
}

.picture{
    height: 220px;
}

.text{
    background-color: white;
    padding-top: 30px; 
    padding-bottom: 30px;
}

h1{
    text-align: center;
    margin-top: 0px;
}

.p1{
    text-align: center;
}

.sub-box{
    display: flex;
    border: 1px  ;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: aliceblue;
   
}

.pic{
    width: 40px;
    height: 40px;
    margin-left: 70px;
}

h4{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
}

p{
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 20px;

}

.btn1{
   margin-left: 70px;
   padding: 15px 80px;
   border-radius: 15px;
   background-color: midnightblue;
   border-color: white;
   color: white;
}

.btn2{
    margin-left: 90px;
    padding: 15px 80px;
    margin-top: 15px;
    border-radius: 15px;
   border-color: white;

}

@media (min-width: 600px) {
    body{
        background-image: url("pattern-background-desktop.svg");
    }
   
}

@media (max-width: 400px) {
    body{
        background-image: url("pattern-background-mobile.svg");
    }
}
